/* ABOUT - START */

.about {
    min-height: 100vh;
    padding: 0px 20px;
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-col1 {
    display: flex;
    flex: 20%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}

/* PROFILE PIC */
.about-col1 img{
    max-width: 250px;
    max-height: 250px;
    border-radius: 50%;
}

.about-col1 img:hover {
    transform: scale(1.3);
}

/* PROFILE PIC - NAME HEADING*/
.about-col1 h2{
    padding-top: 20px;
}


.about-col2 {
    padding: 20px 20px 0px 20px;
    flex: 70%;
}

/* READ MORE & LESS BUTTON */
.about-col2 #readBtn {
    height: 35px;
    width: 100px;
    color: yellow;
    background-color: var(--card-bg);
    border-radius: 20px;
}

/* CLASS FOR CONTAINING TAB LINKS */
.tab-titles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px 0px;
    margin: 5px;
}

/* TAB LINKS : SKILLS,EXPERIENCE,EDUCATION,CERTIFICATE */
.tab-links {
    padding: 5px;
    margin: 0 10% 0 0;
    cursor: pointer;
    position: relative;
}

.tab-links.active-link {
    border-bottom: 2px solid #00abf0;
}

.tab-links::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ea00ff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.tab-links:hover::after {
    width: 100%;
}

/* TAB - CONTENTS "DATA" */

.tab-contents {
    display: none;
    color: #fff;
}

.tab-contents.active-tab {
    display: block;
}

/* TAB - CONTENTS LIST */
.tab-contents ul li {
    list-style: none;
    margin: 10px 0;

}

/* HEADING OF DATA */
.tab-contents ul li span {
    color: #ea00ff;
    font-size: 25px;
}

@media(max-width:768px) {
    .about-content {
        flex-direction: column;
    }

    .tab-links {
        margin: 5px 0px;
    }
}

/* ABOUT - END */