/* CONTACT - START */
.contact {
    min-height: 100%;

}

.contact-content {
    padding: 0px 20px;
    display: flex;
    flex-direction: row;
}

.contact-column1 {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 20px;
}

.contact-column2 {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 20px;
}

/* FORM INPUTS */
.form input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 20px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: var(--form-clr);
    background-color: transparent;
}

/* FORM SUBMIT BUTTON */
.form input[type=submit] {
    color: var(--homeBtns-clr);
    background-color: transparent;
    width: 170px;
    height: 50px;
    border: 2px solid var(--homeBtns-border-color);
    border-radius: 8px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
}

/* FORM SUBMIT : HOVER */
.form input[type=submit]:hover {
    color: var(--homeBtns-clr-hover);
    background-color: var(--homeBtns-bg-color);
}

/* COPYRIGHT BAR */
.copyright{
    width: 100%;
    text-align: center;
    background: #262626;
    font-weight: 300;
    padding: 20px;
}

/* COPYRIGHT TEXT */
.copyright p{
    background-color: transparent; 
    color:#fff;
}
/* Responsive layout */
@media(max-width: 768px) {
    .social-icons {
        width: min(100%-10px, 400px);
    }

    .contact-content{
        flex-direction: column;
        width: 100%;
        margin-top: 0;
    }

    .form input[type=submit]{
        width: 100%;
    }

    .copyright p {
        font-size: 10px;
    }
}

/* CONTACT - END */